body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	outline: none;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	font-size: 14px;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
	border-bottom: 3px solid #b88b58;
}

.navbar-dark .navbar-nav .nav-link.navActive {
	border-bottom: 3px solid #b88b58;
}

.bg-dark {
	background-color: #000 !important;
	color: #fff
}

.bg-light {
	background-color: #ededed !important;
}

.bg-gray {
	background-color: #373737;
}

/* NEED SHADOW */
.bg-white {
	
}

.heroSection {
	background: url("../img/Bg_img_01.png") no-repeat top center;
	width: 100%;
	height: 850px;
	text-align: center;
	background-size: cover;
}

.heroSection h1 {
	color: #fff;
	font-size: 72px;
	font-weight: bold;
}

.heroSection span {
	color: #b88b58;
	display: block;
}

.heroSection p {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.container {
	height: 100%;
	padding: 50px 0;
}

.padding-remove {
	padding: 0;
}

.heroSection .row {
	height: 100%;
}

.heroSection a {
	margin-top: 25px;
	font-size: 12px;
	font-weight: bold;
}

.btn-primary {
	outline: none;
	background-color: #b88b58;
	border-radius: 1000px;
	padding: 15px 50px;
	border: none;
}

.btn-primary:hover {
	background-color: #000;
}

.btn-dark {
	outline: none;
	background-color: #000;
	border-radius: 1000px;
	padding: 15px 50px;
	border: none;
}

.btn-dark:hover {
	background-color: #b88b58;
}

.btn.btn-secondary {
	color: #000;
}

.btn-secondary {
	outline: none;
	background-color: #ededed;
	border-radius: 1000px;
	padding: 15px 50px;
	border: 1px solid #cfcfcf;

}

.btn-secondary:hover {
	background-color: #e1e1e1;
	border: 1px solid #cfcfcf;
	border-bottom: 1px solid #b88b58;
}

.card-img-top {
	width: 50%;
	height: 50%;
}

.card {
	color: #242424;
	display: block;
	border: none;
}

.bg-dark h2 {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.bg-dark h3 {
	color: #aeaeae;
	font-weight: bold;
	font-size: 14px;
}

.bg-light h2 {
	color: #000;
	font-weight: bold;
	font-size: 30px;
}

.bg-light h3 {
	color: #aeaeae;
	font-weight: bold;
	font-size: 14px;
}

.bg-white h2 {
	color: #000;
	font-weight: bold;
	font-size: 30px;
}

.bg-white h3 {
	color: #aeaeae;
	font-weight: bold;
	font-size: 14px;
}

.logos {
	opacity: 0.6;
	transition-duration: 0.3s;
}

.logos:hover {
	opacity: 1;
	transition-duration: 0.3s;
}

.border-buttom {
	border-bottom: 1px solid #b88b58;
}

.mapSection {
	background: url("../img/Map.png") no-repeat top center;
	width: 100%;
	height: 416px;
	text-align: center;
	background-size: cover;
}

.servicesSection p {
	font-size: 12px;
	color: #7e7e7e;
}

.servicesImg {
	height: 65px;
	width: 65px;
}

.servicesTitle {
	font-size: 18px !important;
	height: 45px;
}

.teamSection h5 {
	font-size: 22px;
	color: #242424;
	margin: 0;
}

.card-title {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
}

.teamSection p {
	font-size: 14px;
	color: #242424;
}

.icon-primary {
	color: #fff;
	background-color: #bebebe;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
	line-height: 30px;
	transition-duration: 0.3s;
}

.icon-primary:hover {
	color: #fff;
	background-color: #b88b58;
	transition-duration: 0.3s;
}

.clientsSection h5 {
	margin: 0;
}

.margin-0 {
	margin: 0;
}

.priceSection h4 {
	font-size: 14px;
	font-weight: bold;
}

.priceSection h5 {
	font-size: 30px;
	margin-bottom: 0;
}

.priceSection span {
	color: #aeaeae;
	font-size: 10px;
	margin: 0;
	display: inline-block;
}

.factsSection h4 {
	font-size: 48px;
	font-weight: bold;
	color: #b88b58;
}

.factsSection h5 {
	font-weight: bold;
	font-size: 18px;
	height: 50px;
}

.factsSection p {
	color: #7e7e7e;
	font-size: 12px
}
.twitter {
	display: inline-block;
	color: #fff;
	background-color: #34c5f0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.linkedIn {
	display: inline-block;
	color: #fff;
	background-color: #127cb4;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.facebook {
	display: inline-block;
	color: #fff;
	background-color: #336297;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.googlePlus {
	display: inline-block;
	color: #fff;
	background-color: #e74237;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.pinteret {
	display: inline-block;
	color: #fff;
	background-color: #b71c29;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.twitter:hover {
	color: #fff;
	background-color: #000;
}

.linkedIn:hover {
	color: #fff;
	background-color: #000;
}

.facebook:hover {
	color: #fff;
	background-color: #000;
}

.googlePlus:hover {
	color: #fff;
	background-color: #000;
}

.pinteret:hover {
	color: #fff;
	background-color: #000;
}

.footerSection p {
	font-size: 12px;
	color: #7e7e7e;
}

.img-size {
	width: 100%;
	height: 100%;
}
.overRelay {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.4);
	visibility: hidden;
}

.img-size:hover > .overRelay {
	visibility: visible;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.35);
}

.img1 {
	background: url("../img/Img1.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img2 {
	background: url("../img/Img2.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img3 {
	background: url("../img/Img3.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img4 {
	background: url("../img/Img4.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img5 {
	background: url("../img/Img5.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img6 {
	background: url("../img/Img6.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img7 {
	background: url("../img/Img7.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img8 {
	background: url("../img/Img8.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img9 {
	background: url("../img/Img9.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img10 {
	background: url("../img/Img10.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img11 {
	background: url("../img/Img11.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.img12 {
	background: url("../img/Img12.png") no-repeat top center;
	width: 255px;
	height: 165px;
	background-size: cover;
}

.popU {
	height: 100%;
}









