body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
}

.logo {
    float: left;
    width: 20%;
    text-align: left;
}

.logo a {
    display: inline-block;
    padding: 22px 0;
}

.menu {
    float: right;
    width: 80%;
    height: 100px;
}

nav .menu ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav .menu ul li {
    display: inline-block;
}

nav .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    padding: 40px 10px;
}

nav .menu ul li a.active {
    border-bottom: 5px solid #b88b58;
}

nav .menu ul li a:hover {
    border-bottom: 5px solid #b88b58;
}

.hero {
    background-image: url("../img/Bg_img_01.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    height: auto;
    text-align: center;
}

.headB {
    font-size: 30px;
    color: black;
    margin: 0;
}

.supB {
    font-weight: bold;
    font-size: 12px;
    color: #aeaeae;
    margin-bottom: 60px;
}

.headW {
    color: white;
    font-size: 30px;
    margin: 0;
}

.supW {
    font-weight: bold;
    font-size: 12px;
    color: #aeaeae;
    margin-bottom: 60px;
}

.hero h1 {
    margin: 0;
    color: #fff;
    font-size: 60px;
}

.hero h2 {
    color: #b88b58;
    font-size: 60px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.btn1 {
    text-decoration: none;
    display: inline-block;
    padding: 18px 50px;
    background-color: #b88b58;
    color: #fff;
    font-weight: bold;
    border-radius: 1000px;
    margin-top: 30px;
    transition-duration: 0.4s;
}

.btn1:hover {
    background-color: black;
    transition-duration: 0.4s;
}

.aboutUs {
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.aboutUsLeft {
    width: 50%;
    float: left;
}

.aboutUsRight {
    width: 50%;
    float: left;
}

.aboutUsLeft p {
    text-align: left;
    color: #242424;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 38px;
}

.container {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
}

.containerHead {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
}

.services {
    width: 100%;
    height: auto;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

.services h3 {
    height: 46px;
}

.row {
    margin: 0 auto;
}

.grid {
    height: 170px;
    width: 24%;
    float: left;
    border-right: 1px solid #bebebe;
}

.grid p {
    color: #7e7e7e;
}

.grid img {
    height: 65px;
}

.firstGrid {
    border-left: 1px solid #bebebe;
}

.projects {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    box-sizing: border-box;
}


.filter {
    margin: 0 auto;
    background-color: #ededed;
    border-radius: 1000px;
    border: 1px solid #b88b58;
    width: 850px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 17px 0;
}

.filter ul li {
    display: inline-block;
    border-left: 1px solid #b88b58;
}

.filter ul li:first-child {
    display: inline-block;
    padding: 10px 24px;
    border-left: 0px solid #b88b58;
}

.filter ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 24px;
}

.filter ul li a.active {
    border-bottom: 5px solid #b88b58;
    padding-bottom: 22px;
    transition-duration: 0.1s;
}

.filter ul li a:hover {
    border-bottom: 5px solid #b88b58;
    padding-bottom: 22px;
    transition-duration: 0.1s;
}

.projectsThumbFull {
    width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.projectsThumb {
    width: 25%;
    height: 165px;
    float: left;
    margin-bottom: 20px;
    padding: 8px 10px;
    box-sizing: border-box;
}

.ourTeam {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 90px;
    width: 100%;
    height: auto;
    background-image: url(../img/Bg_img_02.png)
}

.co {
    float: left;
    width: calc(100% / 3);
    height: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.teamMember {
    background-color: white;
    padding-top: 48px;
    padding-bottom: 43px;
    border-radius: 3px;
}

.teamMember h3 {
    color: #242424;
    margin-bottom: 0;
}

.teamMember span {
    color: #242424;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
}

.clients {
    background-color: #f7f7f7;
}

.clients h3 {
    margin: 0;
}

.clients span {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 12px;
}

.clients p {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
}

.logos {
    width: 16.6%;
    float: left;
}

.containerLogos {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
    overflow: hidden;
}

.containerLogos .logos {
    opacity: 0.5;
}

.containerLogos .logos:hover {
    opacity: 1;
}

.clientsLogos {
    background-color: #fff;
    height: auto;
}

.price {
    background-color: #ededed;
    padding: 60px 0;
}

.plansCon {
    margin: 0 auto;
}

.plansFix {
    float: left;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}

.plans {
    background-color: #fff;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 30px 0;
}

.plans h3 {
    margin: 0 0 10px 0;
}

.plans h4 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0;
}

.plans span {
    display: block;
    margin: 0 0 15px 0;
    color: #aeaeae;
    font-size: 12px;
}

.plans p {
    margin: 0;
    font-weight: bold;
    color: #7e7e7e;
    font-size: 12px;
}

.btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 18px 50px;
    background-color: #373737;
    color: #fff;
    font-weight: bold;
    border-radius: 1000px;
    margin-top: 30px;
    transition-duration: 0.4s;
}

.btn2:hover {
    background-color: #b88b58;
    transition-duration: 0.4s;
}

.premiumCon {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #bebebe;
}

.premiumLeft {
    float: left;
    width: 50%;
}

.premiumRight {
    float: left;
    width: 50%;
}

.premiumIcon {
    float: left;
    width: 30px;
}

.premiumTxt {
    float: left;
    text-align: left;
    width: calc(100% - 30px);
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.premiumTxtLast {
    float: left;
    text-align: left;
    width: calc(100% - 30px);
    padding-left: 30px;
    box-sizing: border-box;
}

.premiumTxt h3 {
    margin: 5px;
}

.premiumTxt span {
    display: block;
    font-size: 12px;
    color: #5b5b5b;
}

.premiumTxt p {
    margin-top: 0;
    font-size: 12px;
    color: #5b5b5b;
}

.premiumTxtLast p {
    font-size: 12px;
    color: #5b5b5b;
}

.facts {
    width: 100%;
    height: auto;
    background-color: black;
}

.statistics {
    text-align: center;
    width: 25%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
}

.statistics h3 {
    color: #b88b58;
    font-size: 32px;
    margin: 0;
}

.statistics span {
    height: auto;
    display: block;
    color: #7e7e7e;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    line-height: 0px;
}

.statistics h4 {
    height: 38px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}

.statistics p {
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 500;
}

.socialCon span {
    margin-right: 30px;
    font-weight: bold;
    color: #aeaeae;
    font-size: 12px;
}

.socialCon img {
    margin-right: 10px;
}

.socialIcons {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 5px;
}

.socialIcons.twitter {
    background-color: #34c5f0;
}

.socialIcons.linkedin {
    background-color: #127cb4;
}

.socialIcons.facebook {
    background-color: #336297;
}

.socialIcons.google-plus {
    background-color: #e74237;
}

.socialIcons.pinterest {
    background-color: #b71c29;
}

.socialIcons:hover {
    background-color: #373737;
}

.container a {
    color: white;
    text-decoration: none;
}

.contactUs {
    background-color: #f7f7f7;
}

form {
    margin: 0 auto;
    width: 50%;
}

input {
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    border-bottom: 1px solid #aeaeae;
    outline: none;
    font-size: 16px;
    color: #aeaeae;
}

input::placeholder {
    color: #aeaeae;
}

.inp1 {
    width: 48%;
    float: right;
    margin-bottom: 30px;

}

.inp1:first-child {
    float: left;
}

.inp2 {
    width: 100%;
    margin-bottom: 50px;
}

.inp3 {
    background-color: #f7f7f7;
}

.inp3::placeholder {
    color: #aeaeae;
}

.containerInfo {
    background-image: url(../img/Map.png);
    background-repeat: no-repeat;
}

.infoCon {
    padding: 38px 30px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 5px;
}

.info {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

.info span {
    color: #7e7e7e;
    font-size: 12px;
    margin-left: 10px;
}

footer {
    background-color: black;
    width: 100%;
    height: auto;
}

.footer1 {
    float: left;
    width: 33.33%;
    height: auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.footer1 p {
    font-size: 12px;
    color: #7e7e7e;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer1 span {
    color: white;
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 164px;
}

.btn3 {
    text-decoration: none;
    display: inline-block;
    padding: 18px 50px;
    background-color: #b88b58;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 30px;
    transition-duration: 0.4s;
}

.btn3:hover {
    background-color: black;
    transition-duration: 0.4s;
}

.footer2 {
    background-color: #373737;
    height: auto;
    width: 100%;
    border-radius: 3px;
    float: left;
    width: 33.33%;
    padding: 30px 15px;
    box-sizing: border-box;
}

/*
.
.
.
.
.
.
.
.
.
.
.
.
.
*/
